/* ====================
   ====================
        ASIDE
   ====================
   ==================== */

   aside {
    width: auto;
    padding: 1.25rem;
    background-color: var(--bg-aside);
    color: white;
   }