/* ====================
   ====================
        BODY
   ====================
   ==================== */

   .ms-page-container {
    height: calc(100vh - 4.375rem);

    display: flex;
    flex-shrink: 0;

   }