
/* ====================
   ====================
        HEADER
   ====================
   ==================== */

header {
    height: 4.375rem;
    padding: 0.625rem 0;
}

header li:last-of-type {
    color: var(--icon-bell);
}

.ms-img-fluid {
     width: 30%;
     object-fit: cover;
     min-width: 3.625rem;
     min-height: 3.625rem;
}

/* ====================
   ====================
        HEADER SEARCH
   ====================
   ==================== */

.ms-form-control {
    
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: var(--bg-search);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}







