/* ====================
   ====================
        MAIN
   ====================
   ==================== */

   main {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--bg-main);
   }

/* ====================
        MAIN HEADER
   ==================== */

   .ms-main-header {
     background-color: var(--primary-blue);
   }

/* ====================
     MAIN TABLE
==================== */

tbody img {
     width: 1.5625rem;
     height: 1.5625rem;
     object-fit: cover;
}

#add-table {
     border: 0.0625rem solid var(--primary-blue);
     color: var(--primary-blue);
     border-radius: 0.3125rem;
     padding: 0.625rem;
     text-align: center;
     line-height: 50%;
     text-decoration: none;
     display: inline-block;
}