/* ====================
   ====================
        MAIN
   ====================
   ==================== */

   main {
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--bg-main);
   }

/* ====================
        MAIN HEADER
   ==================== */

   .ms-main-header {
     background-color: var(--primary-blue);
   }

/* ====================
     MAIN TABLE
==================== */

tbody img {
     width: 1.5625rem;
     height: 1.5625rem;
     object-fit: cover;
}