/* ====================
   ====================
        TIPOGRAPHY
   ====================
   ==================== */

/* ====================
        FONT STYLE
   ==================== */
   
   body {
    font-family: 'Roboto', sans-serif;
   }

/* ====================
        FONT COLOR
   ==================== */

   .orange {
    color: var(--icon-bell);
   }

   .ms-bg-blue-pills {
     background-color: var(--blue-pills);
   }