/* ====================
   ====================
        TIPOGRAPHY
   ====================
   ==================== */

/* ====================
        FONT STYLE
   ==================== */
   
   body {
    font-family: 'Roboto', sans-serif;
   }

/* ====================
         COLOR
   ==================== */

   .orange {
    color: var(--icon-bell);
   }

   .ms-bg-blue-pills {
     background-color: var(--blue-pills);
   }

   /* ====================
         BADGE COLORS
   ==================== */

   .ms-bg-done {
     background-color: var(--done);
   }

   .ms-bg-process {
     background-color: var(--process);
   }

   .ms-bg-failed {
     background-color: var(--failed);
   }