/* ====================
   ====================
        UTILITIES
   ====================
   ==================== */

/* ====================
        DEBUG
   ==================== */
   
.debug {
    background-color: black;
    border: 1px solid lime;
    color: lime;
}
.debug-2 {
    background-color: grey;
    border: 1px solid lime;
    color: yellow;
}

/* ====================
        LIST
   ==================== */

   .ms-list {
    margin: 0;
    list-style: none;
   }
