/* ====================
   ====================
        VARIABLES
   ====================
   ==================== */

/* ====================
        COLORS
   ==================== */

   :root {
    --primary-blue: #1c71e8;
    --blue-pills: #155cbf;
    --bg-aside: #061e34;
    --bg-main: #f8f9fa;
    --bg-search: #e5e5e5;

    --done: #198753;
    --process: #ffc007;
    --failed: #dc3444;

    --icon-bell: #ff8f00;
}